#String1
{
  text-transform: lowercase;
  }
#String2
{
  text-transform: lowercase;
}
#first
{
  color:blue;
  font-style: italic;
  font-family: cursive;
}
#second
{
  color:blue;
  font-style: italic;
  font-family: cursive;
}
#cmprbutton:hover
{
  color:green;
}
